body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  background-color: rgba(164, 84, 255, 0.89);
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 12px;
}
.icon {
  float: left;
  margin-top: -5px;
  font-size: 25px;
  font-weight: 800;
  font-family: monospace;
  border: 1px solid white;
  padding: 0px 12px;
  border-radius: 25%;
}
nav ul li {
  display: inline-block;
  margin-right: 12px;
}
nav ul {
  margin: 0 auto;
}
.card {
  width: 40%;
  background: #f9f8f8;
  padding: 12px;
  margin: 25px;
  box-shadow: 3px 3px 14px 1px grey;
  border-radius: 4px;
}

.carousel-item{
  height: 450px;
}

